/* header.component.css */

.logo {
  height: 60px; /* Reduz o tamanho da logo para telas menores */
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.navbar {
  padding: 0 20px; /* Adiciona padding horizontal */
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: bold;
  padding: 15px 10px; /* Ajusta padding para espaçamento interno */
  line-height: 1.5; /* Ajusta a altura da linha para um layout mais fluido */
}

.navbar-nav .nav-link:hover {
  color: #FF6EC1;
}

.navbar-toggler {
  border-color: #FF6EC1;
}

.navbar-toggler-icon {
  background-color: #FF6EC1;
}
