<!-- services.component.html -->
<section class="services">
  <h2>Nossos Serviços</h2>
  <div class="service-cards">
    <div class="service-card">
      <img src="assets/images/tratamento-facial.jpg" alt="Tratamento Facial">
      <h3>Tratamento Facial</h3>
      <p>Revitalize sua pele com nossos tratamentos faciais exclusivos.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/tratamento-corporal.jpg" alt="Tratamento Corporal">
      <h3>Tratamento Corporal</h3>
      <p>Cuide do seu corpo com nossas terapias personalizadas.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/depilacao-laser.jpg" alt="Tratamento Corporal">
      <h3>Depilação a Laser</h3>
      <p>Desfrute de uma pele lisa e sem pelos com nossos tratamentos a laser.</p>
    </div>
  </div>
</section>
