<!-- home.component.html -->
<section class="hero">
  <div class="hero-text">
    <h1>Bem-vindo à Clínica de Estética</h1>
    <p>Cuidando da sua beleza com excelência e dedicação.</p>
    <a href="https://wa.me/5511999999999" target="_blank">
      <button mat-raised-button color="accent">
        <i class="fab fa-whatsapp"></i> Whatsapp
      </button>
    </a>

  </div>
</section>

<section class="about">
  <div class="container">
    <h2>Sobre Nós</h2>
    <p>
      Na Clínica de Estética, nossa missão é realçar a beleza natural de cada pessoa. Oferecemos tratamentos personalizados,
      utilizando as técnicas mais avançadas e produtos de alta qualidade, para proporcionar resultados visíveis e duradouros.
    </p>
  </div>
</section>


<section>
  <app-services></app-services>
</section>

<section>
  <app-blog></app-blog>
</section>

<section class="testimonials">
  <div class="container">
    <h2>O que Nossos Clientes Dizem</h2>
    <div class="testimonial-list">
      <div class="testimonial-item">
        <p>"A melhor clínica que já frequentei! Os profissionais são incríveis e os resultados são maravilhosos."</p>
        <h4>- Maria Silva</h4>
      </div>
      <div class="testimonial-item">
        <p>"O ambiente é muito acolhedor e os tratamentos realmente fazem a diferença na minha autoestima."</p>
        <h4>- Joana Pereira</h4>
      </div>
    </div>
  </div>
</section>

<!-- <section class="contact">
  <div class="container">
    <h2>Entre em Contato</h2>
    <p>Estamos à disposição para tirar suas dúvidas e agendar seu atendimento.</p>
    <button mat-raised-button color="primary">Agende uma Consulta</button>
  </div>
</section> -->
