/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  color: #F450AE;
  text-decoration: none;
}

a:hover {
  color: #FF6EC1;
}

/* Estilos globais para botões */
button {
  background-color: #F79ED1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #E5369A;
}
