/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  color: #F450AE;
  text-decoration: none;
}

a:hover {
  color: #FF6EC1;
}

/* Estilos globais para botões */
button {
  background-color: #F79ED1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #E5369A;
}

/* Para telas menores que 576px */
@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 18px;
  }

  .blog-post-container {
    padding: 15px;
  }
}

/* Para telas entre 576px e 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    font-size: 20px;
  }

  .blog-post-container {
    padding: 20px;
  }
}

/* Para telas entre 768px e 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    font-size: 22px;
  }

  .blog-post-container {
    padding: 25px;
  }
}

/* Para telas maiores que 992px */
@media (min-width: 992px) {
  .navbar-brand {
    font-size: 24px;
  }

  .blog-post-container {
    padding: 30px;
  }
}
